Service References/ABAS/getaffiliationdata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Faculty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FacultyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RegistrationNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AadhaarNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CollegeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DepartmentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Designation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dob" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pincode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FacultyResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FacultySoapIn">
    <wsdl:part name="parameters" element="tns:Faculty" />
  </wsdl:message>
  <wsdl:message name="FacultySoapOut">
    <wsdl:part name="parameters" element="tns:FacultyResponse" />
  </wsdl:message>
  <wsdl:message name="FacultyHttpGetIn">
    <wsdl:part name="FacultyName" type="s:string" />
    <wsdl:part name="RegistrationNo" type="s:string" />
    <wsdl:part name="AadhaarNo" type="s:string" />
    <wsdl:part name="CollegeID" type="s:string" />
    <wsdl:part name="DepartmentID" type="s:string" />
    <wsdl:part name="Designation" type="s:string" />
    <wsdl:part name="Address" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="Gender" type="s:string" />
    <wsdl:part name="Dob" type="s:string" />
    <wsdl:part name="MobileNo" type="s:string" />
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="Pincode" type="s:string" />
    <wsdl:part name="Type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FacultyHttpGetOut" />
  <wsdl:message name="FacultyHttpPostIn">
    <wsdl:part name="FacultyName" type="s:string" />
    <wsdl:part name="RegistrationNo" type="s:string" />
    <wsdl:part name="AadhaarNo" type="s:string" />
    <wsdl:part name="CollegeID" type="s:string" />
    <wsdl:part name="DepartmentID" type="s:string" />
    <wsdl:part name="Designation" type="s:string" />
    <wsdl:part name="Address" type="s:string" />
    <wsdl:part name="City" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="Gender" type="s:string" />
    <wsdl:part name="Dob" type="s:string" />
    <wsdl:part name="MobileNo" type="s:string" />
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="Pincode" type="s:string" />
    <wsdl:part name="Type" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FacultyHttpPostOut" />
  <wsdl:portType name="GetAffiliationDataSoap">
    <wsdl:operation name="Faculty">
      <wsdl:input message="tns:FacultySoapIn" />
      <wsdl:output message="tns:FacultySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetAffiliationDataHttpGet">
    <wsdl:operation name="Faculty">
      <wsdl:input message="tns:FacultyHttpGetIn" />
      <wsdl:output message="tns:FacultyHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="GetAffiliationDataHttpPost">
    <wsdl:operation name="Faculty">
      <wsdl:input message="tns:FacultyHttpPostIn" />
      <wsdl:output message="tns:FacultyHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetAffiliationDataSoap" type="tns:GetAffiliationDataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Faculty">
      <soap:operation soapAction="http://tempuri.org/Faculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetAffiliationDataSoap12" type="tns:GetAffiliationDataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Faculty">
      <soap12:operation soapAction="http://tempuri.org/Faculty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetAffiliationDataHttpGet" type="tns:GetAffiliationDataHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Faculty">
      <http:operation location="/Faculty" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetAffiliationDataHttpPost" type="tns:GetAffiliationDataHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Faculty">
      <http:operation location="/Faculty" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetAffiliationData">
    <wsdl:port name="GetAffiliationDataSoap" binding="tns:GetAffiliationDataSoap">
      <soap:address location="http://112.133.193.228:88/getaffiliationdata.asmx" />
    </wsdl:port>
    <wsdl:port name="GetAffiliationDataSoap12" binding="tns:GetAffiliationDataSoap12">
      <soap12:address location="http://112.133.193.228:88/getaffiliationdata.asmx" />
    </wsdl:port>
    <wsdl:port name="GetAffiliationDataHttpGet" binding="tns:GetAffiliationDataHttpGet">
      <http:address location="http://112.133.193.228:88/getaffiliationdata.asmx" />
    </wsdl:port>
    <wsdl:port name="GetAffiliationDataHttpPost" binding="tns:GetAffiliationDataHttpPost">
      <http:address location="http://112.133.193.228:88/getaffiliationdata.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>